<div style="padding-bottom: 15px;">
  <h1>Contact the team</h1>
</div>

<table style="margin-bottom: 15px;">
  <tr>
    <td style="padding-right: 10px;"><%= avatar_tag(@todd) %></td>
    <td><h1><%= @todd.name %></h1></td>
  </tr>
</table>

<h3>Twitter</h3>
<p><a href="http://twitter.com/toddhainsworth">@toddhainsworth</a></p>

<h3>GitHub</h3>
<p><a href="http://github.com/toddhainsworth">@toddhainsworth</a></p>
